* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #081b29; 
    color: #ededed;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color:#ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a{
    font-size: 18px;
    color:#00abf0;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: #00abf0;
}

.home{
    height: 100vh;
    /* remove this when needed */
    background: url('home.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content{
    max-width: 600px;
}
.home-content h1{
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p{
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

/**/
.home-content .button-container{
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .button-container::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

/**/
.button-container {
    display: flex; /* Makes the container a flex container */
    justify-content: space-between; /* Adjusts spacing between buttons */
    width: 60%; /* Set the width as needed */
    margin-top: 20px; /* Optional: Adjust as needed for spacing */
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    overflow: hidden;
    transition: .5s;
    margin-right: 5px; /* Reduced margin between buttons */
}

.button:hover {
    color: #00abf0;
    background: #081b29; /* Dark blue hover background */
}

.button:hover {
    color: #00abf0;
    background: #081b29; /* Dark blue hover background */
}
/**/
.home-imgHover{
    position: absolute;
    top: 0;
    right: 30px;
    width: 250px;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}

.home-imgHover:hover{
     background: #081b29; 
     opacity: .8;
}

.home-imgHover::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 215%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
}

.recommended-songs {
    padding: 20px 10%;
    text-align: center;
}

.recommended-songs h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #00abf0;
    position: relative;
}

.recommended-songs ul {
    list-style-type: none;
    padding: 0;
}

.recommended-songs li {
    background: #081b29;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #00abf0;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
}

.img-size {
    position: absolute;
    right: 175px;
    height: auto;
    width: 300px; 
    margin-top: -310px;
}

.btn-box a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00abf0;
    color: #081b29;
    text-decoration: none;
    font-size: 18 px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 0 10px; /* Optional: Adds spacing between buttons */
    border: 2px solid #00abf0;
}

.btn-box a:hover {
    background-color: #081b29; /* Slightly darker shade for hover effect */
    color: #00abf0;
}

@keyframes showRight{
    100%{
        width: 0;
    }
}

@keyframes manipActiveHover{
    100%{
        pointer-events: auto;
    }
}

