<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommended Songs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='rec.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <a href="home" class="logo">Spooterfy | Ali X Julian</a>
        <nav class="navbar">
            <a href="{{ url_for('home') }}" class="home-button">Home</a>
        </nav>
    </header>

    <section class="recommended-songs">
        <h1>Recommended Songs</h1>
        <div class="song-grid">
            {% for song in songs %}
            <div class="song-card">
                <img src="{{ song.album_cover_url }}" alt="{{ song.name }} cover" class="song-image">
                <h2 class="song-title">{{ song.name }}</h2>
                <p class="song-artist">{{ song.artist }}</p>
                <iframe src="{{ song.spotify_embed_url }}" class="spotify-embed" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>